{% extends "base.html.twig" %}

{% block body %}
    <center>
        <div style="color:green;"><h3>Fiche frais bien enregistrée</h3></div><br/>
            
                <a href="/jesuisco" class="btn btn-outline-dark">AJOUTER NOUVELLE<br/>FICHE FRAIS</a><br/><br/>
      
                <a href="/jesuisco" class="btn btn-outline-dark">Sortir</a><br/>
    </center>
   
{% endblock %}{# empty Twig template #}
